/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);*/

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.angular-google-map-container { height: 400px; }

.row{
    max-width:100%;
}

#nav{
    background:#f3f3f3;
    border-bottom:1px solid #eee;
    min-height:60px;
    position:relative;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
}

#logo{
    position:absolute;
    left:calc(50% - 65px);
    width:130px;
    height:60px;
    background-image:url(/assets/images/commuter-logo.png);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:0 -2px;
}

#splash{
    width:100%;
    height:100%;
    background:#f3f3f3;
    z-index:999;
    position:absolute;
    top:0;
    left:0; 
    overflow:hidden;
}

#splash img.logo{
    width:275px;
    height:auto;
    position:absolute;
    top: 100px;
    left:calc(50% - 138px);
    transition: all 0.5s ease;
}

#splash p, #splash span{
    font-size:16px;
    font-weight:100;
    color:#6a6a6a;
}

#splash .powered{
    position:absolute;
    left:0;
    bottom:60px;
    text-align:center;
    width:100%;
    transition: all 0.5s ease;
}

#splash img.logo.loaded{
    width:120px;
    height:auto;
    top:20px;
     left:calc(50% - 60px);
}

#splash .screenTwo{
    transition: all 0.3s 0.5s ease;
    position:absolute;
    top:150px;
    width:100%;
    opacity:0;
}

#splash .screenThree{
    transition: opacity 0.3s ease;
    position:absolute;
    top:150px;
    width:100%;
    opacity:0;
    left:100%;
}

#splash .signup{
    background:white;
    border-radius:5px;
    padding:20px;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    right:20px;
    left:20px;
    top:100%;
    position:absolute;
    transition: all 0.5s ease;
}

#splash .signup.signed{
    top:160px;
}

/*#splash .screenThree{
    transition: all 0.3s ease;
    position:absolute;
    top:150px;
    width:100%;
    left:100%;
}*/

#splash .screenTwo img, 
#splash .screenThree img{
    width:100%;
    height:auto;
}

#splash .screenTwo  p,
#splash .screenThree  p{
    margin:50px;
}

#splash span.button{
    float:none;
}

#splash .screenTwo.loaded{
    opacity:1;
}

#splash .screenTwo.loaded.slided{
    transition: all 0.5s ease;
    left:-100%;
}

#splash .screenThree.slided{
    opacity:1;
    left:0;
}

#splash .screenThree.slided.signed{
    left:-100%;
}

.loader.loaded, #splash .powered.loaded {
    opacity:0;
}

.signup span.button{
    font-weight:normal !important;
    color: white !important;
    width:100% !important;
    margin-bottom:0 !important;
}

#main-controls{
    background:#dfdfdf;
    padding-top:10px;
}

#main-controls span{
    font-size:100%;
    margin:10px;
}

#main-controls span.input,
#main-controls input{
    display: block;
    padding:10px;
    background:#cfcfcf;
    margin:10px;
    border:1px solid #bfbfbf;
    box-shadow:none;
    font-size:16px;
    min-height:42px;
    max-width:calc(100% - 20px);
}

.loader {
  font-size: 40px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 400px auto 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, 0 -0.83em 0 -0.42em #2c6091, 0 -0.83em 0 -0.44em #2c6091, 0 -0.83em 0 -0.46em #2c6091, 0 -0.83em 0 -0.477em #2c6091;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, 0 -0.83em 0 -0.42em #2c6091, 0 -0.83em 0 -0.44em #2c6091, 0 -0.83em 0 -0.46em #2c6091, 0 -0.83em 0 -0.477em #2c6091;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, -0.087em -0.825em 0 -0.42em #2c6091, -0.173em -0.812em 0 -0.44em #2c6091, -0.256em -0.789em 0 -0.46em #2c6091, -0.297em -0.775em 0 -0.477em #2c6091;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, -0.338em -0.758em 0 -0.42em #2c6091, -0.555em -0.617em 0 -0.44em #2c6091, -0.671em -0.488em 0 -0.46em #2c6091, -0.749em -0.34em 0 -0.477em #2c6091;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, -0.377em -0.74em 0 -0.42em #2c6091, -0.645em -0.522em 0 -0.44em #2c6091, -0.775em -0.297em 0 -0.46em #2c6091, -0.82em -0.09em 0 -0.477em #2c6091;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, 0 -0.83em 0 -0.42em #2c6091, 0 -0.83em 0 -0.44em #2c6091, 0 -0.83em 0 -0.46em #2c6091, 0 -0.83em 0 -0.477em #2c6091;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, 0 -0.83em 0 -0.42em #2c6091, 0 -0.83em 0 -0.44em #2c6091, 0 -0.83em 0 -0.46em #2c6091, 0 -0.83em 0 -0.477em #2c6091;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, 0 -0.83em 0 -0.42em #2c6091, 0 -0.83em 0 -0.44em #2c6091, 0 -0.83em 0 -0.46em #2c6091, 0 -0.83em 0 -0.477em #2c6091;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, -0.087em -0.825em 0 -0.42em #2c6091, -0.173em -0.812em 0 -0.44em #2c6091, -0.256em -0.789em 0 -0.46em #2c6091, -0.297em -0.775em 0 -0.477em #2c6091;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, -0.338em -0.758em 0 -0.42em #2c6091, -0.555em -0.617em 0 -0.44em #2c6091, -0.671em -0.488em 0 -0.46em #2c6091, -0.749em -0.34em 0 -0.477em #2c6091;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, -0.377em -0.74em 0 -0.42em #2c6091, -0.645em -0.522em 0 -0.44em #2c6091, -0.775em -0.297em 0 -0.46em #2c6091, -0.82em -0.09em 0 -0.477em #2c6091;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #2c6091, 0 -0.83em 0 -0.42em #2c6091, 0 -0.83em 0 -0.44em #2c6091, 0 -0.83em 0 -0.46em #2c6091, 0 -0.83em 0 -0.477em #2c6091;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
