<div id="splash">
    <div class="screenOne">
        <img class="logo" ng-class="{'loaded': loaded}" src="/assets/images/logo-square.png"> 
        <div class="loader" ng-class="{'loaded': loaded}">Loading...</div>  
        <span class="powered" ng-class="{'loaded': loaded}">Powered by <strong>Software Lab</strong></span>
    </div>
    <div class="screenTwo" ng-class="{'loaded': loaded, 'slided': slided}">
        <img src="/assets/images/screen1.jpg"> 
        <p>CommuteR is your “go-to” companion to keep Toronto moving! By detecting current city congesttion patterns, we empower you to make a difference.</p>
        <div style="text-align:center;">
            <splan class="button" ng-click="slided = true">Next <i class="fa fa-arrow-right"></i></splan>
        </div>
    </div>
    <div class="screenThree" ng-class="{'slided': slided, 'signed': signed}">
        <img src="/assets/images/screen2.jpg"> 
        <p>CommuteR suggests alternative travel paths and transportation modes to relieve congestion and rewards commuters for their daily travels.</p>
        <div style="text-align:center;">
            <splan class="button" ng-click="signed = true">Sign Up</splan>
        </div>
    </div>
    <div class="signup" ng-class="{'signed': signed}">
        <input placeholder="Name" type="text" ng-model="loginObj.user"/>
        <input placeholder="Password" type="password" ng-model="loginObj.pass"/>
        <span class="button" ng-click="submitLogin()">Register</span>
    </div>
</div>