

<div id="main-controls">
    <div ng-click="refreshFrom">
        <span>From</span> 
        <span class="input">{{ fromLocation }}</span>
    </div>
    <div>
        <span>To:</span> 
        <input type="text" ng-model="toLocation" ng-change="resetType()"></input>
    </div>

    <div ng-repeat="location in toLocationList" ng-click="setToLocation(location)">{{location.formattedAddress}}</div>

    <span class="button" ng-show="true" ng-click="routeMe()">Find My Route</span>
</div>

<img src="/assets/images/main.jpg" style="width:100%;"> 