<div>You finished your trip!</div>
<div><strong>Reward History</strong></div>
<div ng-repeat="reward in tripHistory track by $index">{{ reward.rewarddate.split(' ')[0] }} : {{ reward.rewardpoints * 100 | number:0 }} points</div>