<ui-gmap-google-map ng-show="showMap" center='map.center' zoom='map.zoom' control="map.control">
    <ui-gmap-polylines models="polys" path="'path'"></ui-gmap-polylines>
</ui-gmap-google-map>
<div class="button success large" ng-click="finishTrip()">Finish Trip</div>